<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>logout</title>
</head>
<body>
  <h1>ログアウトしました。</h1>
  <button type="button" onclick="location.href='/login'">ログインへ</button>
  <a href="/login"></a>
</body>