<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>login</title>
  <script src="./public/validation.js"></script>
  <script src="./public/login.js"></script>
</head>
<body>
  <h1><strong>Login</strong></h1><!-- strong ? -->
  <form id="login" action="/login" method="post">
    <ul id="errors">
      <p><%= message %></p>
    </ul>
    <label for="username">UserName :</label>
    <input id="username" type="text" name="username"/>

    <label for="password">Password :</label>
    <input id="password" type="password" name="password"/>
    
    <input id="ok" type="submit" value="ok"/>
  </form>
</body>
