<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>main</title>
</head>
<body>
  <div Align="right">
    <p><strong><%= loginUser %></strong> でログイン中</p>
    <input type="button" value="ログアウト" onclick="location.href='/logout'"></input>
  </div>
  <h1>Main</h1>
  <h3>User List</h3>
  <ul id="user_list">
    <% users.forEach(function(user) { %>
      <li><a href="/user?username=<%= user.username %>"><%= user.username %></a></li>
    <% }) %>
  </ul>
</body>