<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>success</title>
</head>
<body>
  <h1><strong>メイン画面</strong></h1>

  <h3>User List</h3>
  <ul id="user_list">
    <% users.forEach(function(user) { %>
      <li><%= user.username %></li>
    <% }) %>
  </ul>
</body>